/*----Font----*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none !important;
    outline: none;
}

/* ------------------------------------------- team-2 -------------------------------------- */

.team-2 .row>* {
    position: relative;
}

.team-2 .btn {
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
}

.team-2 .btn:focus {
    box-shadow: none;
}

.team-2 .team-btn {
    color: #710605;
    border-color: #710605;
}

.team-2 .team-btn:hover {
    color: #ffffff;
    background: #710605;
    border-color: #710605;
    box-shadow: 0px 8px 20px -6px rgba(66, 91, 231, 0.6);
}

.team-2 {
    background-color: #ffffff;
    padding:0px 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.team-2 .sub-title {
    font-family: "PT Serif", sans-serif;
    font-weight: 600;
}
.team-2 .fs-15{
    font-size: 15px;
}
.team-2 .team-box .team-img {
    position: relative;
    overflow: hidden;
}

.team-2 .team-box .team-img img {
    border-radius: 10px;
}

/*.team-2 .team-box .team-img::before,
.team-2 .team-box .team-img::after {
    position: absolute;
    content: "";
    left: 7%;
    right: 7%;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.3);
    top: 10%;
    bottom: 10%;
    z-index: 1;
    transform: scale(0, 1);
}*/

.team-2 .team-box .team-img::after {
    top: 10.8%;
    bottom: 10.8%;
    transform: scale(1, 0);
}

.team-2 .team-box .team-img .team-social {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(50%);
    padding: 29px;
    opacity: 0;
    z-index: 2;
}

.team-2 .team-box .team-img .team-social li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border-radius: 50%;
}

.team-2 .team-box:hover .team-social {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.15s;
    transition: all 0.3s;
}

.team-2 .team-box:hover .team-img::before {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.team-2 .team-box:hover .team-img::after,
.team-2 .team-box:hover .team-img::before {
    transform: scale(1);
}

.team-2 .team-box .team-name {
    color: #710605;
    transition: all 0.3s ease;
}

.team-2 .team-box .team-name:hover {
    color: #131313;
}

@media (min-width: 992px) {
    .team-2 .team-box .team-img .team-social {
        top: 20%;
        padding: 18px;
    }
}